.project-holder{
    width: 100% ;
}

.project-name{
    font-size: 32px ;
    font-weight: bold ;   
    margin-bottom: 20px ;
}

.project-image{
    height: 300px ;
    width: calc(100% - 30px) ;
    // border-radius: 6px ;

    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center;
    // background-color:  #353535 ;
    background-color:  white ;

    background-origin: content-box;
    padding: 30px 15px ;
}

.project-description-container{
    width: calc(100% - 40px);
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    padding: 20px ;
    height: 300px ;
    *{
        color: white ;
    }
}

.project-title{
    font-size: 32px ;
    font-weight: bold ;   
}

.description{
    font-size: 20px ;
}

.link-container{
    height: 50px ;
    width: 100px ;
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center ;

    background-origin: content-box;
    padding: 10px ;

    background-color: black;
    border-radius: 3px ;
}
