<div class="project-holder">

    <div class="project-image" 
        [style.background-image]="getImageCss(projectInfo.image, projectDir)" >
    </div>
    
    <div class="project-description-container">
        <h1 class="project-name">{{projectInfo.name}}</h1>

        <p class="description">
            {{projectInfo.description}}
        </p>

        <h1 class="project-title">{{linkTitle}}</h1>

        <div fxLayout="row" fxLayoutGap="10px">
            <div class="link-container mat-elevation-z10"  *ngFor="let link of links"
                [style.background-image]="getImageCss(link, linkDir)" >
            </div>
        </div>

        <h1 class="project-title">{{tech}}</h1>

        <div class="stack-container mat-elevation-z5" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"  >
            <div *ngFor="let skill of skills">
                <div class="skill-holder mat-elevation-z2"
                    [style.background-image]="getImageCss(skill.image, skillsDir)" >
                </div>
            </div>
        
        </div>
       

    </div>
    
</div>

