<div class="experience-container" >
    <div class="container-padding" >
        <h1 class="page-title text-center" >{{experience_title}}</h1>

        <div class="experience-box" ngClass.lt-md="small-box" fxLayout="row" >

            <div class="strip" ></div>

            <div class="content" fxLayout="column" fxLayoutAlign="center" >
                <div class="company-info" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center" >
                    <h1 class="company-name">{{companyName}}</h1>
                    <h2 class="working-period">{{workingPeriod}}</h2>
                </div>
                <div class="job-info">
                    <h1 class="job-title">{{jobTitle}}</h1>
                    <p>{{jobDescription}}</p>
                    <p>{{jobTech}}</p>
                    <p>{{stackList}}</p>
                </div>
            </div>
            
        </div>

    </div>
</div>