.container{
    padding: 1.5%;
    div{
        margin: 30px 10px;
    }
    background-color: #1C1C1C;
}

.grid{
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 550px ); /* 2 */
    // grid-gap: 1rem; /* 3 */
    justify-content: space-around ; /* 4 */
}

@media screen and (max-width: 550px) {
    .grid{
        grid-template-columns: repeat(auto-fill, 95% ); /* 2 */
    }
}