.education-container{
    height: fit-content ;
    min-height: 500px ;
    width: 100% ;
    background-color: #131313;
}

.container-padding{
    padding: 3% 2.5% ;
}

.page-title{
    font-size: 42px ;
    font-weight: bold ;   
    color: white ;
    line-height: 1.2em ;
}

.large-text{
    font-size: 32px ;
    font-weight: bold ;   
    color: white ;
}

.text-center{
    text-align: center ;
}

.education-details-segment{
    width: 100%;
    margin-bottom: 50px ;
    margin-top: 40px ;
}

.education-box{
    width: 500px !important ;
    height: 500px !important ;
    border: 3px solid #8E0663;
    border-radius: 4px ;
    background-color: black ;
    padding: 10px ;
    *{
        color: white ;
    }
}

.mobile-box-size{
    width: 350px !important ;
    height: 350px !important ;
}

.uni-logo{
    background-image: url("/assets/images/nottingham.png");
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center;

    width: 80% ;
    height: 150px ;
}

.small-logo{
    height: 80px ;
}

.degree-info{
    div{
        margin: 10px 20px ;
    }
}

.degree , .dissertation-header{
    font-size: 32px ;
    font-weight: bold ;
    line-height: 1.2em ;
}

.dissertation-info{
    margin-top: auto ;
    *{
        text-align: center ;
        line-height: 1.2em ;
    }
}

.dissertation-info-small{
    //margin-top: 100px ;
}

.small-header{
    font-size: 25px ;
    font-weight: bold ;
    line-height: 1.2em ;
}

.dissertation-title{
    margin-top: 20px ;
    font-size: 25px ;
}

.small-title{
    font-size: 20px ;
}

.fyp-link{
    margin-top: auto ;
    // a{
    //     color: darkblue;
    // }
    button{
        background-color: #131313;
        color: white ;
    }
}

@media screen and (min-width : 1400px ) {
    .education-details-segment{
        width: 1150px ;
        margin-left: auto ;
        margin-right: auto ;
    }
}
