<div class="education-container" >
    <div class="container-padding" >
        <h1 class="page-title text-center" >{{education_title}}</h1>
        <div class="education-details-segment" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" >

            <div class="education-box degree-info" fxLayout="column" fxLayoutAlign="center center" >
                <div class="uni-logo" ></div>
                <div class="degree" >{{degree}}</div>
                <div fxFlexAlign="end" class="accrediation">{{accreditation}}</div>
            </div>
        
            <div class="education-box" fxLayout="column" fxLayoutAlign="center center" >

            </div>
    
        </div>
      
    </div>
</div>