.skill-holder{
    margin: 10px ;
    width: fit-content;

    h2{
        text-align: center ;
        margin-top: 3px ;
        font-size: 22px ;
        font-weight: bold ;
    }
}

.box-container{
    height: 140px ;
    width: 140px ;
    border-radius: 7px ;

    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;

    background-origin: content-box;
    padding: 10px ;
}

.myAnim{
    animation: myAnim 1s ease 0s 1 normal forwards;
    pointer-events:none;
}


@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}