.toolbar{
    background-color: black ;
    color: white ;
    position: sticky;
    top: 0;
    border-bottom: 2px solid white ;
}

.name-logo{
    background-image: url("/assets/images/tahmid cool.png");

    width: 150px ;
    height: 50px ;

    background-size: contain ;
    background-repeat: no-repeat ;
    background-position: center;

    &:hover{
        cursor: pointer;
    }

}
