/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ropa+Sans&display=swap');

* {
    font-family: 'Ropa Sans', sans-serif !important ;
}

