.dissertation-container{
    background-color: #1C1C1C;
    width: 100% ;
    height: fit-content ;
    min-height: calc(100vh - 60px) ; // toolbar height ;
}

.top-segment-container{
    padding: 5% 3% 2.5% ;
}

.fyp-large-text{
    font-size: 32px ;
    font-weight: bold ;   
    color: white ;
    text-align: center;
}

.topic-title{
    font-size: 32px ;
    font-weight: bold ;   
    color: white ;
}

.topic-text{
    font-size: 25px ;
    font-weight: bold ;   
    color: white ;
}

.description-container{
    padding:  0 3% 2.5% ;
    margin-bottom: 20px ;
    .description-paragraph{
        font-size: 23px ;
        color: white ;
        line-height: 1.3em ;
        margin-top: 10px;
    }
}